*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  padding: 2rem 5rem;
  font-family: "Lato", "sans-serif";
  background-color: #F7F9F9;
  color: #5C5C5C;
  line-height: 1.3;
  font-weight: 400; }

.heading-2, .heading-3, .heading-4 {
  font-family: "Yantramanav", "sans-serif";
  text-align: center; }

.heading-2 {
  font-size: 6rem;
  line-height: 1;
  text-transform: lowercase; }
  .heading-2--light {
    color: #F7F9F9; }
  .heading-2--dark {
    color: #9D3956; }

.heading-3 {
  text-transform: lowercase;
  font-size: 3rem; }
  .heading-3--light {
    color: #F7F9F9; }
  .heading-3--dark {
    color: #9D3956; }

.heading-4 {
  font-size: 2.5rem; }
  .heading-4--light {
    color: #F7F9F9; }
  .heading-4--dark {
    color: #9D3956; }

.paragraph {
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: justify;
  font-family: "Yantramanav", "sans-serif";
  font-size: 2rem;
  font-weight: 300; }

.btn {
  border: none;
  padding: 1.6rem 2.5vw;
  font-size: 2rem;
  border-radius: 2%;
  color: #F5F5ED;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .btn--1 {
    background-color: #FF5200; }
  .btn--2 {
    background-color: #60B5C2; }
  .btn:hover {
    filter: brightness(90%); }
  .btn:active {
    transform: translateY(2px); }

.btn-link {
  font-family: "Lato", "sans-serif";
  font-size: 1.5rem;
  text-decoration: none;
  color: #F7F9F9;
  margin-right: 1.4rem;
  transition: all .2s; }
  .btn-link:hover {
    text-decoration: underline;
    color: #F5F5ED; }

.u-margin-bottom-xl {
  margin-bottom: 10rem; }

.u-margin-bottom-lg {
  margin-bottom: 8rem; }

.u-margin-bottom-m {
  margin-bottom: 5rem; }

.u-margin-bottom-sm {
  margin-bottom: 3rem; }

.u-margin-bottom-xs {
  margin-bottom: 1rem; }

.center-v-h {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container {
  max-width: 140rem;
  margin: 0 auto;
  background-color: #F5F5ED;
  display: grid;
  grid-template-rows: 90vh repeat(5, min-content);
  grid-template-columns: repeat(12, [col-start] minmax(min-content, 1fr) [col-end]);
  grid-gap: 1rem; }

.about {
  grid-column: 3/11;
  padding: 5rem 0 8rem 0; }
  .about__img {
    max-width: 100%;
    max-height: auto; }
  .about__text {
    column-count: 2; }

.contact {
  grid-column: 1/-1;
  height: 50rem; }

.footer {
  background-color: #60B5C2;
  grid-column: 1/-1;
  height: 10rem; }

.header {
  color: #F5F5ED;
  grid-column: col-start 1/ col-end 12;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(12, [header-col-start] minmax(min-content, 1fr) [header-col-end]);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem; }
  .header__role {
    background-color: #FF5200;
    grid-column: header-col-start 6/ header-col-end 11;
    grid-row: 1/2;
    font-size: 2.5rem;
    padding-left: 2rem; }
  .header__img-container {
    grid-row: 1/6;
    grid-column: header-col-start 1 / header-col-end 5;
    background-image: url("../assets/img/header-img-1000.jpg");
    background-size: cover; }
  .header__name {
    background-color: #FF5200;
    grid-row: 2/7;
    grid-column: header-col-start 6/ header-col-end 11;
    padding: 5rem;
    font-size: 10rem; }
  .header__block-right {
    background-color: #FF5200;
    grid-column: header-col-start 12/ header-col-end 12;
    grid-row: 1/7; }

.nav__container-left {
  background-color: #9D3956;
  grid-column: header-col-start 1/ header-col-end 5;
  grid-row: 6/-1; }

.nav__container-right {
  background-color: #60B5C2;
  grid-column: header-col-start 6/ header-col-end 12;
  grid-row: 7/-1; }

.nav__list {
  padding: 3rem; }

.nav__item {
  font-size: 2rem;
  display: inline-block; }
  .nav__item:not(:last-child) {
    margin-right: 3rem; }

.work {
  grid-column: col-start 1 / col-end 12;
  position: relative; }

.skills {
  grid-column: 1/-1; }
  .skills__container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2rem; }
  .skills__buttons {
    width: 60%;
    margin-top: 1rem; }
    .skills__buttons .btn {
      margin-right: 1rem;
      margin-bottom: 1rem; }
  .skills__details {
    width: 35%;
    margin-left: 2rem; }

.section-header {
  width: 100%;
  position: relative;
  margin-bottom: 8rem; }
  .section-header__bottom {
    width: 65%;
    z-index: -2;
    padding: 2rem 0;
    background-color: #FF5200;
    margin-left: 35%; }
  .section-header__top {
    width: 100%;
    margin-left: calc(-54%);
    padding: 8rem 1rem;
    background-color: #9D3956;
    z-index: 2;
    border: solid 0.8rem #F5F5ED;
    border-left: none; }

.section-content {
  font-size: 3rem;
  padding-bottom: 30rem; }

.project {
  display: grid;
  grid-template-columns: 6rem repeat(2, 1fr) 6rem;
  grid-template-rows: repeat(2, 1fr);
  align-items: start;
  gap: 2rem; }
  .project__header {
    font-family: "Yantramanav", "sans-serif";
    color: #F7F9F9;
    grid-column: 1/ -1;
    grid-row: 1/ span 1;
    background-color: #60B5C2;
    padding: 1.4rem 0 1.5rem 0rem;
    z-index: 5;
    margin-top: 2rem;
    border: 4px solid #F5F5ED; }
  .project__title, .project__skills-list {
    margin-left: 52%; }
  .project__skills-list {
    list-style: none;
    font-size: 0rem;
    margin-top: .4rem; }
  .project__skill {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    border-right: solid 2px #F5F5ED;
    padding: 0 1.2rem; }
    .project__skill:first-child {
      padding-left: 0; }
  .project__img-container {
    grid-row: 1/span 2;
    grid-column: 2/ span 1;
    justify-self: end;
    z-index: 10; }
  .project__image {
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: 10%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
  .project__block {
    background-color: #9D3956;
    grid-column: 3 / span 1;
    grid-row: 1/ span 1;
    z-index: 1;
    padding: 12.5rem 1rem .8rem 1.5rem;
    align-self: stretch; }
  .project__text {
    font-size: 1.6rem;
    grid-column: 3/ span 1;
    padding: 0 1.5rem;
    text-align: justify; }
