
.contact {
    grid-column: 1/-1;
      &__form {       
      display: grid;
      grid-template-columns: repeat(12, minmax(min-content, 1fr));
      justify-content:center;
      gap:1rem;   
    }  
  }
  
 

