.header {
  height: 95vh;
  width: 100%;
  color: $color-white;
  display: grid;
  grid-gap: 1.5rem;
  gap: 1.5rem;

  grid-template-rows: [header-start] 12.5% [role-end name-start] 37.5% [img-end] 12.5% [name-end] 1fr [header-end];
  grid-template-columns: [col-img-start] 40% [col-img-end col-role-start] 47.5% [col-name-end] 1fr;
  margin-bottom: 2rem;

  &__role {
    background-color: $color-primary;
    grid-row: header-start/role-end;
    grid-column: col-role-start/col-name-end;
    font-size: 3rem;
    padding-left: 2rem;
  }

  &__img-container {
    grid-row: 1/3;
    grid-column: 1/2;
    background-image: url("../assets/img/header-img-1000.jpg");
    background-size: cover;
  }

  &__name {
    background-color: $color-primary;
    grid-row: 2/4;
    grid-column: 2/3;

    padding: 5rem;
    font-size: 10rem;
  }

  &__block-right {
    background-color: $color-primary;
    grid-column: 3/4;
    grid-row: 1/4;
  }
}

//grid item
.nav {
  background-color: $color-tertiary;
  position: relative;
  //position based on bottom of header left and right nav are always aligned
  &-left-container,
  &-right-container {
    position: absolute;
    bottom: 8rem;
  }

  &-left {
    background-color: $color-secondary;
    grid-column: 1/2;
    grid-row: 3/5;
    position: relative;
  }

  &-right {
    position: relative;
    background-color: $color-tertiary;
    grid-column: 2/4;
    grid-row: 4/-1;
  }

  //aligned to right edge of grid item
  //width:half of first column width
  //calculation: viewport - padding = header width. * .4 = width of first column * .5 =

  &-left-container {
    right: 0;
    width: calc(((100vw - 10rem) * 0.4) * 0.5);
    background-color: $color-accent-1;
    color: $color-secondary;
    outline: 1.5rem solid $color-accent-1;
    outline-offset: 2rem;
  }

  //aligned to left edge of container
  //width: 75% of column 3
  //calculation: viewport - padding = header width. * .475 = width of second column * .75
  &-right-container {
    left: 0;
    width: calc(((100vw - 10rem) * 0.475) * 0.75);
    outline: 1rem solid $color-accent-1;
  }

  &__list {
    //pickle - need to work on spacing
    padding: 3rem;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    font-size: 2rem;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

.about {
  background-color: green;
}

.work {
  background-color: pink;
}

.skills {
  background-color: $color-light-gray-1;
}

.contact {
  background-color: $color-secondary;
}

.footer {
  background-color: $color-tertiary;
}
