%heading {
  font-family: $font-title;      
}

%heading-bg {
  margin: 0 auto -3rem auto;
  width:50%;
  padding: 2rem 4rem;
  transform:translateY(-50%);
}

%btn-link {
  font-family: $font-title;
  font-size:1.8rem;
  font-weight:300;
  //required for transition to work
  display:inline-block;
  text-decoration: none;
  transition: all .3s;

  &:hover { 
    transform:translateY(-4px);
    filter:brightness(80%);
  }
}

.heading-1{
  @extend %heading;
  text-transform: lowercase;  
  font-weight: 100;
  font-size:17rem;
  line-height: 1;  

}

.heading-2 {
  @extend %heading;
  font-size: 6.5rem;
  line-height: 1.3;  
  font-weight: 100;
  &--light { color: $new-color-accent-dark-2};       
  &--dark-1 { color: $new-color-primary};   
  &--dark-2 { color: $new-color-secondary};   
  &--dark-3 { color: $new-color-tertiary};
  &--dark-4 { color: $new-color-secondary-dark-2};   
   

  &--bg-1 {
    @extend %heading-bg;
    background-color: $new-color-primary-light-2;
    background-image: linear-gradient(
      to bottom right,
      $new-color-primary-light-2,
      $new-color-primary
    );
  }

  &--bg-2 {
    @extend %heading-bg;
    background-image: linear-gradient(
      to bottom right,
      $new-color-tertiary,     
      $new-color-tertiary-dark 
    );
  }

  &--bg-3 {
    @extend %heading-bg;
    background-image: linear-gradient(
      to bottom right,
      $new-color-secondary-light,     
      $new-color-secondary-dark-2 
    );
  }
}

.heading-3 {
  @extend %heading;  
  font-size: 4rem;
  line-height: 1.5;  
  font-weight: 300;
  text-align:center;
  &--light { color: $new-color-accent-dark-2};       
  &--dark-1 { color: $new-color-primary};   
  &--dark-2 { color: $new-color-secondary};   
  &--dark-3 { color: $new-color-tertiary};
  &--dark-4 { color: $new-color-secondary-dark-2};   
   
}

.heading-4 {
  @extend %heading;
  line-height:1.5;
  font-weight: 300;
  font-size: 3rem;
  &--light { color: $new-color-accent-dark-2};       
  &--dark-1 { color: $new-color-primary};   
  &--dark-2 { color: $new-color-secondary};   
  &--dark-3 { color: $new-color-tertiary};    
  &--dark-4 { color: $new-color-secondary-dark-2};   
}

.paragraph {
  line-height:1.5;
  margin-bottom: 1rem;
  font-size: 2.2rem; 
  font-weight: 300;  
}

/* ---------------- BUTTONS ------------  */
.btn {
  border: none;
  padding: 1.4rem 2.5vw;
  font-size:2rem;
  border-radius:3%;
  color: $new-color-accent-dark-2;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.2);
  transition: all .2s;
  
  &--color-1 {
    background-color: $new-color-primary;
  }
  // &--color-1-dark {
  //   background-color: $new-color-primary;
  // }

  &--color-2 {
    background-color: $new-color-secondary-dark-1;
  }

  &--color-2-dark {
    background-color: $new-color-secondary-dark-2;
  }

  &--color-3 {
    background-color: $new-color-tertiary-dark;
    // border: 2px solid $new-color-accent-light;
  }

  &--color-4 {
    background-color: $new-color-accent-dark-1;
    
    // border: solid 1px $color-secondary; 
  }

  &:hover{
    filter:brightness(90%)
  }

  &:active{
    transform:translateY(2px);
  }
}

.btn-link {
  @extend %btn-link; 


  &--light {
    @extend %btn-link;
     color:$new-color-accent-dark-2;

     &--lg {
        @extend %btn-link;
        color:$new-color-accent-light;
        font-size: 2.5rem;
     }
  }

  &--dark { 
    @extend %btn-link;
    color:$new-color-secondary-dark-2; 

    &--lg {
      @extend %btn-link;
      color:$new-color-secondary-dark-2;   
      font-size: 2.5rem;
    }
  }
}


/* ---------------- LISTS ------------  */

.inline-list {
  list-style-type: none;
  width: 100%;
  padding: 0 2rem;
  display:flex;
  justify-content:space-evenly;     

  li {
    padding:0rem 3rem;
  }
  &--border li {
    
    &:not(:last-child) {
      border-right:solid 2px currentColor;
    }

    // &:not(:last-child)::after {
    //   content:"";
    //   display:inline-block;
    //   height: 1.5rem;
    //   width:2px;
    //   background-color: $new-color-accent-light;
    //   margin-left:2rem;
    //   // margin-right:2rem;
    // }
  }  
}

