%heading {
  font-family: $font-title;      
  text-transform: lowercase;  
}

%btn-link {
  font-family: $font-text;
  font-size:1.8rem;
  text-decoration: none;
  display:inline-block;
  transition: all .3s;

  &:hover {
    text-decoration:underline;
    transform:translateY(-2px);
    filter:brightness(90%)
  }
}

.heading-1{
  @extend %heading;
  font-weight: 100;
  font-size:10rem;
  line-height: 1;  

}

.heading-2 {
  @extend %heading;
  font-size: 6rem;
  line-height: 1.2;  
  font-weight: 400;
  text-align:center;
  &--light { color: $color-white};       
  &--dark { color: $color-secondary};   
}

.heading-3 {
  @extend %heading;  
  font-size: 3rem;
  &--light { color: $color-white};       
  &--dark { color: $color-secondary}; 
}

.heading-4 {
  @extend %heading;
  font-size: 2.5rem;
  &--light { color: $color-white};       
  &--dark { color: $color-secondary}; 
}

.paragraph {
  line-height:1.5;
  margin-bottom: 1rem;
  font-family:$font-text;
  font-size: 2.2rem; 
  font-weight: 400;  
}

/* ---------------- BUTTONS ------------  */
.btn {
  border: none;
  padding: 1.4rem 2.5vw;
  font-size:2rem;
  border-radius:2%;
  color: $color-accent-1;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.2);
  transition: all .2s;
  
  &--color-1 {
    background-color: $color-primary;
  }

  &--color-2 {
    background-color: $color-secondary;
  }

  &--color-3 {
    background-color: $color-tertiary;
  }

  &--color-4 {
    background-color: $color-accent-1;
    border: solid 1px $color-secondary; 
  }

  &:hover{
    filter:brightness(90%)
  }

  &:active{
    transform:translateY(2px);
  }
}

.btn-link {
  @extend %btn-link;  

  &--light {
    @extend %btn-link;
     color:$color-white;

     &--lg {
        @extend %btn-link;
        color:$color-white;
        font-size: 2.5rem;
     }
  }

  &--dark { 
    @extend %btn-link;
    color:$color-secondary; 

    &--lg {
      @extend %btn-link;
      color:$color-secondary;   
      font-size: 2.5rem;
    }
  }
}
