
//------------------COLORS ------------------//
//-----------ORANGE---------------

$color-primary: #F05D23;
$color-primary-light: #FA783C;

// ------------ blue --------------

$color-secondary: #1f98a1;
$color-secondary-light: #90c9cc;
$color-secondary-dark: #156565;

// ------------ burgandy --------------

$color-tertiary: #b44161;
$color-tertiary-light: #c55776;
$color-tertiary-dark: #782B41;

//------------Accents---------------------------
$color-accent-1: #f7f9f9; //white
$color-accent-2: #f0f0e6;  //light cream
$color-accent-3: #d1d1b3; //khaki
$color-accent-4: #003C66; //navy blue

$color-gray-1:#d6d6d6; //light gray
$color-gray-2:#5C5C5C; //dark gray

//---FONTS---//

$font-title: "Noto Sans KR", "sans-serif";
$font-text:"Lato", "sans-serif";


//IMAGE COLORS

/*
#ff623b - dark orange
#d9dcd6 - off white
#f99158 - faint orange
#90c9cc - baby blue
#1f98a1 - teal
#efb393 - peach
#e2583d - burnt orange/red
#add1d1 - poweder blue
#de9688 - darker peach/pink
#f4ccb5 - beige
#d1b1b0 - grayish purple
#AD1F2D - burgandy 
*/