//---COLORS---//

$color-primary: #FF5200; //orange
$color-secondary: #9D3956; //plum
$color-tertiary: #60B5C2; //blue

$color-accent-1: #F5F5ED; //beige/tan
$color-white: #F7F9F9;

$color-dark-gray-1:#333333;
$color-dark-gray-2:#5C5C5C;

$color-light-gray-1:#818181;
$color-light-gray-1:#b8b8b8;

//---FONTS---//

$font-title: "Yantramanav", "sans-serif";
$font-text:"Lato", "sans-serif";


