
//--------New colors ----------//

$new-color-primary: #f54e00;
$new-color-primary-light-1: #F05D23;
$new-color-primary-light-2: #FA783C;

$new-color-secondary: #25a7a7;
$new-color-secondary-light: #b4d1db;
$new-color-secondary-dark-1: #156565;
$new-color-secondary-dark-2: #1d3557;

$new-color-tertiary: #b44161;
$new-color-tertiary-dark: #782B41;

$new-color-accent-light: #f7f9f9;
$new-color-accent-dark-1: #f0f0e6;
$new-color-accent-dark-2: #e6e6d5; 

$new-color-dark-gray-1:#333333;
$new-color-dark-gray-2:#5C5C5C;









//---FONTS---//

$font-title: "Noto Sans KR", "sans-serif";

$font-text:"Lato", "sans-serif";


