*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
    //Defines 1 rem. If default font is 16px, 1 rem = 10px.
    font-size: 62.5%;
}  

body {  
  box-sizing: border-box;
  padding: 3rem;
}