%heading {
  font-family: $font-title;    
  // text-align: center;
  
}

.heading-1{

}

.heading-2 {
  @extend %heading;
  font-size: 6rem;
  line-height: 1;
  text-transform: lowercase;
  text-align:center;

  &--light { color: $color-white};       
  &--dark { color: $color-secondary};   
}

.heading-3 {
  @extend %heading;
  text-transform: lowercase;

  font-size: 3rem;
  &--light { color: $color-white};       
  &--dark { color: $color-secondary}; 
}

.heading-4 {
  @extend %heading;
  font-size: 2.5rem;
  &--light { color: $color-white};       
  &--dark { color: $color-secondary}; 

}

.paragraph {
  line-height:1.2;
  margin-bottom: 1.5rem;
  font-family:$font-title;
  font-size: 2rem; 
  font-weight: 300;  
}

.btn {
  border: none;
  padding: 1.4rem 2.5vw;
  font-size:2rem;
  border-radius:2%;
  color: $color-accent-1;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.2);
  transition: all .2s;
  &--color-1 {
    background-color: $color-primary;
  }

  &--color-2 {
    background-color: $color-secondary;
  }

  &--color-3 {
    background-color: $color-tertiary;
  }

  &--color-4 {
    background-color: $color-accent-1;
  }


  &:hover{
    filter:brightness(90%)
  }

  &:active{
    transform:translateY(2px);
  }


}

.btn-link {
  font-family: $font-text;
  font-size:1.5rem;
  text-decoration: none;
  color: $color-white;    
  margin-right: 1.4rem;
  transition: all .2s;

  &:hover {
    text-decoration:underline;
    color: $color-accent-1;
  }
}

  