//MARGINS

.u-margin-bottom-xl {
    margin-bottom: 10rem;
}
.u-margin-bottom-lg {
    margin-bottom:8rem;
}

.u-margin-bottom-md {
    margin-bottom:6rem;
}

.u-margin-bottom-sm {
    margin-bottom:4rem;
}

.u-margin-bottom-xs {
    margin-bottom: 1rem;
}


//centers element vertically and horizontally
.center-v-h {
    @include center-element;
}

.center-text {
    text-align:center;
}

.justify-text {
    text-align:justify;
}