.form {
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  //to have space between inputs that sit on the same line
  justify-content: space-between;
  align-items: flex-start;

  //div that contains input and label
  &__group {
    font-size: 1.5rem;
    font-family: $font-text;
    // padding: 0 1rem 0 1rem;

    //form group that contains simple input only use half of form by default to allow 2/line
    &--input {
      width: 48%;
    }

    &--text {
      width: 100%;
    }
    &--btn {
      width: 25%;


    }
  }

  //form elements. Fits entire form group
  &__input,
  &__textarea {
    font-size: 1.5rem;
    font-family: $font-text;
    width: 100%;
    padding: 1rem;
    border: none;

    //If placeholder of form element is shown (e.g. input is empty) select it's label, move it up into the input and hide it
    &:placeholder-shown + label {
      opacity: 0;
      transform: translateY(-3px);
    }
  }

  &__textarea {
    min-height: 20rem;
  }
  //'ending'position of label is below input. Transitions when input has content
  &__label {
    display: block;
    padding: 0.7rem;
    transform: translateY(0);
    transition: all 0.3s;
    color: $color-primary;
  }

  &__feedback {
    width: 70%;
    font-size: 2rem;
  }

  //submit button
  &__submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    //disabled once email is sent
    &:disabled {
      opacity: 0.65;
      cursor: not-allowed;
    }

    &-logo {
      height: 2.5rem;
      width: 2.5rem;
      fill: currentColor;
      margin-left: 1rem;
    }
  }
}
