.form {
    grid-column: 4/span 6;    
    // border:1px solid red;
    padding: 0 2rem 0 2rem;
    // padding-top: 0rem;
    display:flex;
    flex-wrap:wrap;
    //to have space between inputs that sit on the same line
    justify-content:center;

    //div that contains input and label
    &__group {
      font-size: 1.5rem;
      font-family: $font-text;
      padding: 0 1rem 0 1rem;
      width:100%;

      //form group that contains simple input only use half of form by default to allow 2/line
      &--input {
        width: 50%;     
      }     
    }

    &__input,
    &__textarea {
      font-size: 1.5rem;
      font-family: $font-text;
      width: 100%;      
      padding:1rem;
      border:none;
     
      //If placeholder is shown (e.g. input is empty) select it's label, move it up into the input and hide it
      &:placeholder-shown + label {
        opacity:0;
        transform: translateY(-3px);
      }
    }

    &__textarea {
      min-height:20rem;
     
    }
    //'ending'position of label is below input. Transitions when input has content
    &__label {
      display: block;
      padding:1rem 1rem 0rem 1rem;
      transform: translateY(0);
      transition: all .3s;
      color: $color-primary;
    }
  
    &__submit {
      width:25%;
      margin-left:75%;
    }

  }