%project {
    padding: 6rem 3rem;  
}

.project {
    &--bg-1 {
        //Contains the header of the entire section
        @extend %project;
        background-image: linear-gradient(to bottom right, $color-tertiary 0%, $color-tertiary 40%, $color-tertiary-dark 100%);
        display:flex;
        flex-direction: column;
        align-items:center;
        padding-top:10rem;
    }

    &--bg-2 {
        @extend %project;
        background-image: linear-gradient(to bottom right, $color-accent-2 0%, $color-accent-2 40%, $color-accent-3 100%);
        // background-color: $color-tertiary;
    }

    &--bg-3 {
        @extend %project;
        // background-color:$color-secondary-light
        background-image: linear-gradient(to bottom right, #2579b6 0%, $color-accent-4 40%, $color-accent-4 100%);

        // background-color: $color-tertiary;
    }

    &--bg-4 {
        @extend %project;
        background-image: linear-gradient(to bottom right, $color-accent-2 0%, $color-accent-2 40%, $color-accent-3 100%);
        // background-image: linear-gradient(to bottom right, $color-secondary-light 0%, $color-accent-4 40%, $color-secondary-light 100%);

    }

    &--bg-5 {
        @extend %project;
        background-image: linear-gradient(to bottom right, $color-primary-light 0%, $color-primary 40%, $color-primary 100%);
        padding-bottom: 10rem; 
    }
   
    //inside each project. contains image, h4,  ul, p, and btn group
    &__container {
        display:flex;
        flex-direction: column;
        align-items:center;
        width: 40%;
        margin: 0 auto;
        // padding-top:5rem;


        p {
            padding-left: 6rem;
            padding-right:6rem;
        }
    }

    &__title {


    }

    &__skills {

        
    }

    &__image {
        width: 70rem;
        // max-width: 100%;
        // box-shadow: 0 .8rem 4rem rgba(black, .8);
        // max-height:40vh;

    }

    &__btn-group {        
        margin-top:2rem;
        width: 60%;
        display: flex;
        justify-content:space-between;
        a {
            font-weight:400;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }

    //styles the svgs within the link
    &__link-logo
     {
        height:2.5rem;
        width:2.5rem;
        margin-right:1rem;
        fill:currentColor
    }


    &__code-logo {
        height:3rem;
        width:3rem;
        margin-right:1rem;
        fill:currentColor
    }
}
