.section-header{
    grid-column: 2 / span 10;
     //based on container width
    position: relative;
    // margin: 0 auto;
    // margin-bottom:15rem;
    // margin-top:-9rem;
    transform: translateY(-50%);

    &__bottom {       
        width: 65%;
        z-index: -2;
        padding:2rem 0;
        background-color: $color-primary;
        //allows to fit entire width, but with initial 35% of parent 'empty'
        margin-left: 17.5%;
    }

    
    &__top {       
        //fills entire parent element/65% of section header 
        width: 105%;
        //Moves element from inside of parent and to the left. .8 accounts for outline
        margin-left:-2.5%;
        padding:6rem 1rem;
        background-color: $color-secondary;
        z-index: 2;
        border-top: solid .8rem $color-white;
        border-bottom: solid .8rem $color-accent-2;
        
       
        // & .heading-2::before,
        // & .heading-2::after {
        //     content:"";
        //     display: inline-block;
        //     width:1vw;
        //     height : 4px;
        //     background-color: white;
        //     vertical-align: middle;
        //     margin: 0 4rem;
        // }
        
    }

//temp


}
