.container {
    background-color: #f7f7f7;
}

section {  
    &.about{
        background-color: $color-accent-2;
        padding-bottom: 13rem;  
    }

    &.portfolio {
        background-color: $color-accent-2;
        position: relative;

         
    }

    &.section__skills {
        padding: 8rem 0 10rem 0;
        // background-color: $color-secondary-light;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-secondary-dark);
        position: relative;
        h2 {
            position:absolute;
            top:0;
            left:50%;
            transform:translate(-50%, -50%);
            display:inline-block;
            background: rgba($color-accent-2, .3);
            padding: 2rem 10rem;
            font-weight:300;
            border: solid .3rem currentColor;

        } 
    }
}


// SECTION CONTAINERS

.container {

    &__about {
        margin: 0 auto;
        width: 85rem;
    }

    &__skills {
        margin: 0 auto;
        width: 90rem;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;

    }


}



