.container {
    background-color: #f7f7f7;
}

section {  
    &.about{
        background-color: $new-color-accent-dark-1;
        padding-bottom: 16rem;  
    }

    &.portfolio {
        background-color: $new-color-accent-light;
        
         
    }

    &.section__skills {
        padding-bottom: 10rem;
        background-color: $new-color-secondary-light;
    }
}


// SECTION CONTAINERS

.container {

    &__about {
        margin: 0 auto;
        width: 90rem;
    }

    &__skills {
        margin: 0 auto;
        width: 100rem;
    }


}



