.container {
    background-color: #f7f7f7;
}

section {  
    &.about{
        background-color: $color-accent-2;
        padding-bottom: 10rem;  
    }

    &.portfolio {
        background-color: $color-accent-2;

         
    }

    &.section__skills {
        padding: 8rem 0 10rem 0;
        // background-color: $color-secondary-light;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-secondary-dark);
    }
}


// SECTION CONTAINERS

.container {

    &__about {
        margin: 0 auto;
        width: 85rem;
    }

    &__skills {
        margin: 0 auto;
        width: 90rem;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;

    }


}



