// 2 panel jumbotron
.header {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding:2rem;
  justify-content:center;
  align-items: center;
  position: relative;
  text-align:center;
  background-image: url("../img/bg1-rotate.jpg");
  background-size: cover;


  //Takes up all remaining spave above header, centering it
  h1 {
    margin-top:auto;
  }

  //Takes up all remaining space between element above and edge of container
  &__nav {
    margin-top:auto;
    a {
      padding: 2px 4px;
    }
  }


}



