
//ENtire skills section
.skills {
    padding: 9rem 10rem;
    background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);      


h4 {
    font-weight:300;

    span {
        margin-left:2rem;
        font-style: italic;
    }
} 

}